.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 5%;
    padding-right: 2em;
    background-image: url('../pictures/Black-Background-Picture.png');
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-left: 2em;
}

.hide {
    display: none;
}

.show {
    display: block;
}