.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 5%;
    padding-right: 2em;
    background-image: url('../pictures/Black-Background-Picture.png');
}


.hide {
    display: none;
}

.show {
    display: block;
}

.func {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (min-width: 0){
    .buttons {
        display: flex;
        flex-direction: column;
        padding-left: 2em;
    }
}

@media screen and (min-width: 700px){
    .buttons {
        display: flex;
        flex-direction: row;
        padding-left: 2em;
    }
}