.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.containerTotal {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
}

.pic {
    max-width: 20%;
    min-width: 10%;
    border-style: solid;
    border-width: thick;
    border-color: dimgray;
}

.des {
    width: 100%;
    text-align: center;
    color: white;
    font-size: large;
    padding: 1em;
}

.quote_right {
    width: 100%;
    text-align: right;
    color: white;
    font-size: 4em;
}

.quote_left {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 5em;
}

.text_block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3em 3em 2em 2em;
}

.sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    padding-right: 4em;
    font-weight: bold;
    justify-content: space-between;
}

.title {
    width: 50%;
    text-align: left;
    color: white;
    font-size: 3vw;
    padding-left: 2em;
}

.textInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3vh;
}

.stockPriceBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 90%;
    padding-right: 2em;
    font-weight: bold;
}

.price_green {
    width: 70%;
    text-align: left;
    color: darkgreen;
    font-size: 2vw;
    margin-top: 1em;
}

.price_red {
    width: 70%;
    text-align: left;
    color: darkred;
    font-size: 2.5vw;
}

.stock_green {
    width: 70%;
    text-align: left;
    color: darkgreen;
    font-size: 1.5vw;
}

.stock_red {
    width: 70%;
    text-align: left;
    color: darkred;
    font-size: 1vw;
}


.heartSub {
    background-color: white;
    display: inline-block;
    height: 1vw;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 1vw;
    cursor: pointer;
}

.heartSub:before,
.heartSub:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 1vw;
    position: absolute;
    width: 1vw;
}

.heartSub:before {
    top: -0.5vw;
    left: 0;
}

.heartSub:after {
    left: 0.5vw;
    top: 0;
}

.heartUnSub {
    background-color: dimgray;
    display: inline-block;
    height: 1vw;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 1vw;
    cursor: pointer;
}

.heartUnSub:before,
.heartUnSub:after {
    content: "";
    background-color: dimgray;
    border-radius: 50%;
    height: 1vw;
    position: absolute;
    width: 1vw;
}

.heartUnSub:before {
    top: -0.5vw;
    left: 0;
}

.heartUnSub:after {
    left: 0.5vw;
    top: 0;
}