

.gainer_price_text {
    color: red;
    padding-top: 0.5em;
    font-size: 2em;
    font-weight: bold;
}

.loser_price_text {
    color: green;
    font-size: 2em;
    padding-top: 0.5em;
    font-weight: bold;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 100%;
}

.stock_name {
    font-size: large;
    color: white;
}

.company_name {
    color: gray;
    font-family: Serif;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.ranking_item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    margin: 1vh;
}

.line {
    border: 1px solid white;
    opacity: 50%;
}
@media screen and (min-width: 0px){
    .company_name {
        display: none;
    }

    .ranking_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5%;
        align-items: center;
    }

    .gainer {
        width: 80%;
        border-radius: 10%;
        background-color: black;
        padding: 3vh;
        margin-bottom: 3vh;
    }

    .loser {
        width: 80%;
        border-radius: 10%;
        background-color: black;
        padding: 3vh;
    }

    .name {
        justify-content: center;
    }
}

@media screen and (min-width: 900px) {
    .ranking_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 5%;
    }

    .gainer {
        width: 40%;
        border-radius: 10%;
        background-color: black;
        padding: 3vh;
        margin-bottom: 0;
    }

    .loser {
        width: 40%;
        border-radius: 10%;
        background-color: black;
        padding: 3vh;
    }

    .company_name {
        display: block;
    }

    .name {
        justify-content: space-between;
    }
}
