
.title {
    font-size: 2vmin;
    text-align: left;
    font-weight: bold;
    font-family: "Charter";
    color: white;
}

.symbol {
    font-size: 1.5vmin;
    color: #767676;
    font-family: "Arial Rounded MT Bold";
}

.content {
    font-size: 1em;
    text-align: left;
    text-space: 3vmin;
    color: white;
}

.titleBlock {
    display: flex;
    margin-bottom: 3vmin;
    width: 100%;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-left: 1vmin;
}

@media screen and (min-width: 0px) {
    .pic {
        width: 90%;
        height: 100%;
        max-height: 400px;
    }

    .title {
        margin-bottom: 1vmin;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        padding: 1vmin;
        cursor: pointer;
        align-items: center;
    }

    .contentBlock {
        width: 90%;
    }

    .content {
        display: none;
    }

    .titleBlock {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (min-width: 800px) {
    .pic {
        width: 90%;
        height: 100%;
        max-height: 400px;

    }

    .content {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        padding: 1vmin;
        cursor: pointer;
        align-items: center;
    }

    .contentBlock {
        width: 90%;
    }

    .title {
        width: 75%;
        margin-bottom: 0;
    }

    .titleBlock {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1500px) {
    .pic {
        width: 30%;
        height: 100%;
        max-height: 400px;

    }
    .container {
        display: flex;
        flex-direction: row;
        border-radius: 5%;
        padding: 1vmin;
        cursor: pointer;
        align-items: center;
    }

    .contentBlock {
        width: 70%;
    }

    .content {
        display: block;
    }


}