@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@300;500&display=swap');

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.text {
    font-size: 15vmin;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.message {
    font-size: 4vmin;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
    border: 4px solid #ffffff;
    color: #ffffff;
}

.btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: 0.2s ease;
}

.btn:hover {
    color: #1d1d1d;
    background: #ffffff;
    transition: 0.2s ease;
}

.btn:hover:before {
    width: 100%;
}

.pic {
    background-image: url("../pictures/404.png");
    background-size: cover;
    height: 35vmin;
    width: 35vmin;
}

.textContainer {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.picBlock {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5vmin;
}

.textBlock {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5vmin;
}

.content {
    color: white;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
