
html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    background-image: url('pictures/pexels-alex-conchillos-3745234.jpg');
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
